/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/* Activity Directory Page */
.ac-reply-toolbar .bb-icon,
#whats-new-toolbar .bb-icon,
#whats-new-messages-toolbar .bb-icon,
.ac-reply-toolbar .emojionearea .emojionearea-button:before,
#whats-new-toolbar .emojionearea .emojionearea-button:before,
#whats-new-messages-toolbar .emojionearea .emojionearea-button:before {
  color: inherit;
}

div .activity-update-form #whats-new-content .medium-editor-toolbar.active {
  bottom: 70px;
}

@media screen and (max-width: 560px) {
  div #buddypress > .activity-update-form .focus-in #whats-new-content .medium-editor-toolbar.active {
    bottom: 132px;
  }
}
.activity-list .activity-item .activity-inner > ol,
.activity-list .activity-item .activity-inner > ul {
  margin: 0;
}

.activity-list .activity-item .activity-inner > ol li,
.activity-list .activity-item .activity-inner > ul li {
  list-style: decimal;
  margin: 0 18px 3px 0;
  padding: 0;
}
.activity-list .activity-item .activity-inner > ol li:before,
.activity-list .activity-item .activity-inner > ul li:before {
  content: none;
}

.activity-list .activity-item .activity-inner p {
  margin-bottom: 15px;
}

.activity-list .activity-item .activity-inner > ul li {
  list-style: disc;
}

#buddypress.buddypress-wrap .main-navs.activity-type-navs > ul > li > a {
  padding: 9px;
}

.buddypress-wrap .current-visibility-level {
  color: inherit;
}

.bb-media-model-inner {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
}

.bp-nouveau .activity-list.bp-list {
  margin: 0;
}

.bb-activity-media-wrap .bb-activity-media-elem.document-activity .document-action-wrap .document-action_list ul li a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.bp-nouveau .reign-status {
  left: -2px;
  top: -2px;
}

.buddypress-wrap .bp-feedback p,
.bp-feedback .bp-help-text {
  padding-right: 15px;
}

.bp-nouveau .bp-messages .bp-icon,
.bp-nouveau .bp-feedback .bp-icon {
  margin: 0;
}

.bp-nouveau .bp-messages,
.bp-nouveau .bp-feedback {
  padding: 0;
}

.bp-nouveau .activity-update-form {
  padding: 0;
}

.activity-update-form #whats-new-avatar,
.activity-update-form #whats-new,
#whats-new-toolbar {
  padding: 15px;
}

#activity-form-submit-wrapper {
  padding: 0 15px;
}

#whats-new-submit {
  margin: 15px auto 15px 0;
}

.activity-update-form #whats-new-attachments.empty {
  padding: 0;
}

@media (max-width: 650px) {
  body.directory #buddypress form#whats-new-form #whats-new-submit {
    margin: 15px auto 15px 0;
  }
}
#whats-new-form {
  box-shadow: none;
  padding: 0;
  position: relative;
}

#whats-new-post-in {
  margin-left: 0;
}

select#bp-activity-privacy {
  height: 34px;
}

.bp-nouveau #whats-new-post-in-box {
  margin-top: 10px;
}

.bp-nouveau .activity-update-form #whats-new-content,
.bp-nouveau .activity-update-form #whats-new-post-in-box {
  margin-right: 0;
}

.bp-nouveau .activity-update-form #whats-new-content {
  padding-bottom: 0;
}

.bp-nouveau #whats-new-textarea {
  margin-bottom: 0;
}

.bp-nouveau .activity-update-form #whats-new-submit {
  margin-right: auto;
}

#buddypress input#aw-whats-new-reset {
  margin: 0 10px;
  padding: 0 10px;
  width: auto;
  box-shadow: none;
}

.bb-media-length-1 .bb-activity-media-elem .entry-img {
  padding-top: 0;
}

.bb-media-length-1 .bb-activity-media-elem .entry-img img {
  position: static;
}

.dropzone.dz-started .dz-default.dz-message .dz-button {
  padding-top: 0 !important;
  background: transparent !important;
  color: inherit;
  border: 0;
}

.activity-list .activity-item .activity-header .activity-time-since:before {
  content: none;
}

.bp-nouveau #buddypress .activity-content .activity-meta a.acomment-reply .bp-screen-reader-text,
.bp-nouveau #buddypress .activity-content .activity-meta a.view .bp-screen-reader-text,
.bp-nouveau #buddypress div.activity-meta a.acomment-reply .bp-screen-reader-text,
.bp-nouveau #buddypress div.activity-meta a.view .bp-screen-reader-text,
.bp-nouveau #buddypress div.groups-meta a.acomment-reply .bp-screen-reader-text,
.bp-nouveau #buddypress div.groups-meta a.view .bp-screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.bp-nouveau #buddypress .activity-content .activity-meta a span.comment-count,
.bp-nouveau #buddypress div.activity-meta a span.comment-count,
.bp-nouveau #buddypress div.groups-meta a span.comment-count {
  background: none !important;
  min-width: auto;
  display: inherit;
  padding: 0;
  border-radius: 0;
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .button span,
.bp-nouveau .activity-list .activity-item .groups-meta.action .button span {
  margin-right: 2px;
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .fav:before,
.bp-nouveau .activity-list .activity-item .activity-meta.action .unfav:before {
  content: "\e815";
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .acomment-reply.button:before {
  content: "\e80b";
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .delete-activity:before,
.bp-nouveau #buddypress .activity-comments .activity-meta a.delete:before {
  content: "\eaea";
}

.activity-list .activity-item .bp-generic-meta.action div.generic-button {
  padding: 0;
}

.bp-nouveau #buddypress .activity-content .activity-meta a,
.bp-nouveau #buddypress div.activity-meta a {
  margin: 0;
  padding: 0;
}

body #buddypress .bp-list.bp-list .bp-generic-meta .generic-button,
body #bbpress-forums .bp-list.bp-list .bp-generic-meta .generic-button {
  margin-top: 5px;
  margin-left: 15px;
}

.buddypress-wrap .activity-comments {
  margin: 0;
}

.buddypress-wrap .activity-comments form.ac-form {
  padding: 15px 0 0;
}

form.ac-form .ac-reply-content .ac-textarea {
  padding: 0;
}

form.ac-form .ac-reply-content .ac-textarea {
  margin: 0;
}

.bp-nouveau #buddypress .activity-comments .activity-meta a {
  border: 0;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  min-height: 10px;
}

.bp-nouveau #buddypress .activity-comments .activity-meta a.delete:before,
.bp-nouveau #buddypress .activity-comments .activity-meta a.acomment-reply:before,
.bp-nouveau #buddypress .activity-comments .activity-meta a.bmpro-flag-comment-btn:before,
.bp-nouveau #buddypress .activity-comments .activity-meta a.bmpro-unflag-comment-btn:before {
  content: none;
}

.bp-nouveau .buddypress-wrap .activity-comments ul li .activity-meta.action {
  margin-right: 40px;
}

.bp-nouveau .buddypress-wrap .activity-inner,
.bp-nouveau .activity-list .activity-item .activity-content .activity-inner p {
  font-size: 14px;
}

.activity-state {
  margin-top: 15px;
}

span.bb-activity-edited-text {
  font-size: 12px;
  vertical-align: top;
}

/* Members Directory Page */
.members-directory-wrapper {
  display: block;
}

.members-directory-wrapper .bp-profile-search-widget {
  margin-bottom: 20px;
}

@media screen and (min-width: 46.8em) {
  .bp-list li .item-avatar {
    float: right;
    margin-left: 15px;
  }

  .members-directory-wrapper .bp-profile-search-widget {
    flex: 0 0 100%;
    margin-right: 0;
  }

  .members-directory-wrapper .bps-form.standard-form {
    display: flex;
    flex-flow: wrap;
  }

  .members-directory-wrapper .bps-form.standard-form > div {
    width: 33.3333%;
    padding: 0 15px;
  }

  .bp-profile-search-widget {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }

  .bp-profile-search-widget .bps-form-title {
    padding: 15px 15px 0 15px;
  }

  .buddypress-wrap .bp-profile-search-widget .standard-form label {
    display: inline-block;
  }
}
.bp-list li .item-avatar {
  position: relative;
}
@media screen and (max-width: 46.8em) {
  .bp-list li .item-avatar {
    max-width: 100px;
    margin: auto;
  }
}

@media screen and (min-width: 46.8em) {
  .bp-nouveau .groups-list.bp-list:not(.grid) .list-wrap,
  .bp-nouveau .members-list.bp-list:not(.grid) .list-wrap,
  .bp-nouveau .members-group-list.bp-list:not(.grid) .list-wrap {
    display: flex;
    align-items: center;
  }
}
.bp-nouveau .groups-list.bp-list:not(.grid) .wbtm-mem-cover-img,
.bp-nouveau .groups-list.bp-list:not(.grid) .action-wrap .fa,
.bp-nouveau .groups-list.bp-list:not(.grid) .wbtm-member-directory-meta,
.bp-nouveau .members-list.bp-list:not(.grid) .wbtm-mem-cover-img,
.bp-nouveau .members-list.bp-list:not(.grid) .action-wrap .fa,
.bp-nouveau .members-list.bp-list:not(.grid) .wbtm-member-directory-meta,
.bp-nouveau .members-group-list.bp-list:not(.grid) .wbtm-mem-cover-img,
.bp-nouveau .members-group-list.bp-list:not(.grid) .action-wrap .fa,
.bp-nouveau .members-group-list.bp-list:not(.grid) .wbtm-member-directory-meta {
  display: none;
}
@media screen and (min-width: 46.8em) {
  .bp-nouveau .groups-list.bp-list:not(.grid) .action-wrap,
  .bp-nouveau .members-list.bp-list:not(.grid) .action-wrap,
  .bp-nouveau .members-group-list.bp-list:not(.grid) .action-wrap {
    margin: 0;
    margin-right: auto;
    flex: 0 0 auto;
  }
}
.bp-nouveau .groups-list.bp-list:not(.grid).wbtm-member-directory-type-4 figure,
.bp-nouveau .members-list.bp-list:not(.grid).wbtm-member-directory-type-4 figure,
.bp-nouveau .members-group-list.bp-list:not(.grid).wbtm-member-directory-type-4 figure {
  margin: 0;
}
@media screen and (min-width: 46.8em) {
  .bp-nouveau .groups-list.bp-list:not(.grid).wbtm-member-directory-type-4 .item-avatar,
  .bp-nouveau .members-list.bp-list:not(.grid).wbtm-member-directory-type-4 .item-avatar,
  .bp-nouveau .members-group-list.bp-list:not(.grid).wbtm-member-directory-type-4 .item-avatar {
    margin-left: 30px;
  }
}

/* Groups Directory Page */
.bp-nouveau .buddypress-wrap .grid.bp-list.wbtm-group-directory-type-1 .group-content-wrap {
  padding: 10px 15px 10px;
}

@media screen and (min-width: 46.8em) {
  .bp-nouveau .groups-list.bp-list:not(.grid) .group-content-wrap {
    flex: 0 0 auto;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
  }
  .bp-nouveau .groups-list.bp-list:not(.grid) .groups-meta.action {
    margin-right: auto;
  }
  .bp-nouveau .groups-list.bp-list:not(.grid) .group-admins-wrap {
    margin-right: 5%;
  }
}
@media screen and (max-width: 46.8em) {
  .bp-nouveau .groups-list.bp-list:not(.grid) li.group-admin-item {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .bp-nouveau .groups-list.bp-list:not(.grid) .wbtm-group-cover-img {
    display: none;
  }
}
.bp-nouveau .groups-list.bp-list:not(.grid).wbtm-group-directory-type-4 figure {
  margin: 0;
}

.bp-nouveau .buddypress-wrap .groups-list li .group-desc {
  display: none;
}

.bp-nouveau .buddypress-wrap .groups-list.bp-list.grid:not(.wbtm-group-directory-type-4) .item-avatar {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Create Group */
#group-create-body .creation-step-name {
  margin-top: 20px;
}
#group-create-body p {
  margin-bottom: 10px;
}

.buddypress-wrap .standard-form #group-create-body label,
.buddypress-wrap .standard-form #group-create-body span.label {
  display: inline-block;
}

.group-create.bp-nouveau .bp-navs.group-create-links {
  margin-bottom: 20px;
}

.bp-nouveau.group-create .buddypress-wrap form.bp-invites-search-form {
  display: flex;
  border: 0;
}

.bp-nouveau .buddypress-wrap form.bp-invites-search-form button[type=submit] {
  height: 38px;
}

.bp-nouveau .group-invites-members-listing .bp-list li .item-avatar img.avatar {
  max-width: 50px;
}

.bp-nouveau .group-invites-members-listing .bp-list li .action {
  margin-right: auto;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* Member Single */
#item-header #header-cover-image {
  position: absolute;
}

.bp-nouveau .buddypress-wrap:not(.bp-vertical-navs) .rg-nouveau-sidebar-menu {
  margin-bottom: 10px;
}

.bp-nouveau #buddypress #item-header-cover-image #item-header-avatar img.avatar {
  margin: auto;
}

.bp-nouveau #buddypress .wbtm-cover-header-type-3 #item-header-cover-image #item-header-avatar img.avatar {
  margin: auto;
  margin-bottom: 20px;
}

.users-header #item-header-cover-image #item-header-content {
  flex: 0 0 100%;
}

.bp-nouveau .buddypress-wrap .rg-nouveau-sidebar-menu .vertical {
  width: 100%;
}

.bp-nouveau #buddypress #item-header-cover-image #item-header-avatar {
  margin-left: 20px;
}

.bp-nouveau .bp-vertical-navs .rg-nouveau-sidebar-menu {
  border: 1px solid #e3e3e3;
  border-radius: 0 3px 3px 0;
}

.my-messages .bp-vertical-navs aside#secondary,
.send-invites .bp-vertical-navs aside#secondary,
.groups.messages .bp-vertical-navs aside#secondary {
  display: none;
}

.send-invites.has-buddypress-sidebar-right .bp-vertical-navs .group-home aside#secondary,
.groups.messages.has-buddypress-sidebar-right .bp-vertical-navs .group-home aside#secondary {
  display: none;
}

#bp-message-thread-list {
  margin-right: 0;
}
#bp-message-thread-list li {
  box-shadow: none;
}

.bp-messages-content .actions .message_actions .message_action__list {
  left: 0px;
  top: 60px;
}

.bp-nouveau .bp-messages-content #bp-message-thread-list .message-metadata {
  margin-bottom: 5px;
}

.bp-nouveau #buddypress div#item-header .wbtm-cover-header-type-3 div#item-header-cover-image {
  border: 1px solid #e3e3e3;
}

.bp-nouveau .bp-vertical-navs .bp-messages-content {
  margin-top: 0;
}

.rg-nouveau-friends-request-list #send-private-message,
.rg-nouveau-friends-request-list .view-as.generic-button {
  display: none !important;
}
@media screen and (max-width: 46.8em) {
  .rg-nouveau-friends-request-list .item-title {
    text-align: center;
  }
}

.bp-nouveau .bp-messages-content #bp-message-thread-list .message-metadata {
  padding: 0;
}

.bp-nouveau #message-threads li {
  padding: 0;
  border-bottom: 1px solid;
}

.bp-messages-content #bp-message-content {
  margin-top: 0;
  padding: 0;
}

#bp-message-thread-list {
  padding: 0;
}

/* Group Single */
.groups-header .wbtm-cover-header-type-2 .moderators-lists {
  display: inline-block;
}

@media screen and (min-width: 46.8em) {
  .buddypress .bp-vertical-navs .groups-list .item-avatar {
    margin-left: 15px;
    width: auto;
  }

  .bp-nouveau .buddypress-wrap .members-group-list.wbtm-member-directory-type-2:not(.grid) li .joined,
  .bp-nouveau .buddypress-wrap .members-group-list.wbtm-member-directory-type-3:not(.grid) li .joined {
    text-align: right;
  }

  .buddypress-wrap.bp-single-vert-nav .bp-list:not(.grid) .item-entry {
    padding-right: 15px;
  }

  .bp-nouveau .bp-vertical-navs .item-body-inner-wrapper {
    border-radius: 3px 0 0 3px;
  }
}
@media screen and (max-width: 46.8em) {
  .bp-nouveau .buddypress-wrap .members-group-list li .joined {
    text-align: center;
  }
}
#buddypress .activity-content .groups-meta a,
#buddypress div.groups-meta a {
  background: transparent;
  margin: 0;
  padding: 0;
  border-radius: 25px;
  height: 34px;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  animation: none !important;
}
#buddypress .activity-content .groups-meta a:hover,
#buddypress div.groups-meta a:hover {
  background: transparent;
}
#buddypress .activity-content .groups-meta a.delete-activity:hover,
#buddypress div.groups-meta a.delete-activity:hover {
  color: #800 !important;
}
#buddypress .activity-content .groups-meta a.button.fav:hover, #buddypress .activity-content .groups-meta a.button.unfav, #buddypress .activity-content .groups-meta a.bmpro-unflag-activity-btn:before,
#buddypress div.groups-meta a.button.fav:hover,
#buddypress div.groups-meta a.button.unfav,
#buddypress div.groups-meta a.bmpro-unflag-activity-btn:before {
  color: #ffb91a !important;
}
@media (min-width: 46.8em) {
  #buddypress .activity-content .groups-meta a.acomment-reply .bp-screen-reader-text, #buddypress .activity-content .groups-meta a.view .bp-screen-reader-text,
  #buddypress div.groups-meta a.acomment-reply .bp-screen-reader-text,
  #buddypress div.groups-meta a.view .bp-screen-reader-text {
    height: auto;
    margin: 0 5px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: auto;
  }
}
#buddypress .activity-content .groups-meta a span.comment-count,
#buddypress div.groups-meta a span.comment-count {
  background: rgba(0, 0, 0, 0.1) !important;
  min-width: 20px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
}
@media (max-width: 46.8em) {
  #buddypress .activity-content .groups-meta a span.comment-count,
  #buddypress div.groups-meta a span.comment-count {
    padding: 0;
    margin-right: 5px;
  }
}

.buddypress-wrap button.ac-reply-cancel {
  color: inherit !important;
}

#item-body #group-invites-container {
  flex-flow: row wrap;
}

.group-invites .item-body:not(#group-create-body) #subnav.bp-invites-nav:not(.tabbed-links) {
  flex: 0 0 100%;
  margin-bottom: 0 !important;
}

#group-invites-container .bp-groups-tab {
  background: transparent;
}

.buddypress-wrap #group-settings-form.standard-form label,
.buddypress-wrap #group-settings-form.standard-form span.label {
  display: inline-block;
}

.group-invites-column {
  width: 100%;
  padding: 15px;
}

#item-body #group-invites-container .bp-invites-content .item-list > li {
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin: 0 0 -1px;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  position: relative;
  align-items: center;
  border-radius: 0;
  width: 100%;
}

#item-body #group-invites-container .bp-invites-content .item-list > li:last-child {
  border-bottom: 1px solid #e3e3e3;
}

.buddypress .bp-invites-content ul.item-list > li .item {
  flex: 0 0 50%;
}

.buddypress .bp-invites-content ul.item-list li .action {
  margin-right: auto;
  height: auto;
  min-height: 10px;
  padding: 0;
  min-width: 40px;
  border: 0;
  color: inherit;
  background: transparent;
  box-shadow: none;
}

#buddypress ul.group-inviters {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin: 0;
  padding: 0;
}

#buddypress .bp-invites-content li ul.group-inviters li {
  padding: 0;
  border: 0;
  float: right;
  font-size: 11px;
  width: inherit;
}

#item-body #group-invites-container .bp-invites-content .list-title {
  font-size: 20px;
  margin: 0;
  width: 100%;
  text-align: right;
}

#buddypress .bp-invites-content li .item-meta {
  margin: 0;
}

#buddypress ul.group-inviters li .avatar {
  max-width: 20px;
  margin-right: 6px !important;
}

#buddypress .bp-invites-content li .item-avatar {
  margin-right: 0;
  margin-left: 15px;
}

.buddypress .bp-invites-content li .status {
  font-size: 13px;
  font-style: normal;
  clear: both;
  color: inherit;
  margin: 0;
  display: none;
}

.buddypress-wrap button.ac-reply-cancel, .buddypress-wrap button.bp-icons {
  background: 100% 0 !important;
  border: 0 !important;
  text-decoration: none !important;
}

/* Documents */
.search-document-list .media-folder_items .media-folder_details .media-folder_name,
#media-folder-document-data-table .media-folder_items .media-folder_details .media-folder_name {
  color: inherit;
}

.buddypress-wrap form.bp-dir-search-form input[type="search"],
.buddypress-wrap form.bp-dir-search-form input[type="text"],
.buddypress-wrap form.bp-messages-search-form input[type="search"],
.buddypress-wrap form.bp-messages-search-form input[type="text"],
.buddypress-wrap form.bp-invites-search-form input[type="search"],
.buddypress-wrap form.bp-invites-search-form input[type="text"] {
  float: none;
}

.directory.document .screen-content {
  position: relative;
}
.directory.document .document-options {
  position: relative;
}
.directory.document .bp-feedback {
  width: 100%;
  margin: 0;
}
.directory.document .document-search {
  position: relative;
}
.directory.document .document-search:after {
  content: "\e81f";
  font-family: bb-icons;
  display: inline-block;
  color: #4d5c6d;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  top: 8px;
  line-height: 1;
  font-size: 16px;
}

.directory.document .subnav-filters .subnav-search .bp-dir-search-form #dir-document-search,
.bp-document-listing .media-search-form .bp-dir-search-form #group-document-search,
.bp-document-listing .media-search-form .bp-dir-search-form #group-document-search {
  width: 100%;
}

.bp-document-listing .media-search-form {
  float: none;
}
.bp-document-listing .bp-media-header-wrap .bb-title {
  width: 100%;
}
.bp-document-listing .bb-media-actions-wrap {
  margin: 0;
  margin-right: 10px;
}
.bp-document-listing .bp-media-header-wrap .bb-media-actions-wrap {
  margin-bottom: 20px;
}

.bb-media-container .bp-messages,
.bb-media-container .bp-feedback {
  width: 100%;
}

.bp-nouveau .buddypress-wrap .bp-document-listing form.bp-dir-search-form {
  border: 0;
}
.bp-nouveau .buddypress-wrap .bp-document-listing form.bp-dir-search-form button[type="submit"] {
  display: none;
}

#media-stream .document-data-table-head,
#media-folder-document-data-table .media-folder_items,
.search-document-list .media-folder_items {
  width: 100%;
}

.bp-document-listing .media-search-form .bp-dir-search-form {
  border-radius: 100px;
}

#media-stream.document-parent #media-folder-document-data-table .media-folder_items {
  margin: 0;
}

/* Sidebar Widgets */
.widget-area .widget.buddypress div.item-options {
  margin-bottom: 10px;
}

.buddypress.widget ul.item-list li {
  border: 0;
}

.buddypress.widget ul.item-list {
  overflow: visible;
}

.bp-nouveau .widget-area .widget.buddypress #members-list li,
.bp-nouveau .widget-area .widget.buddypress #groups-list li,
.bp-nouveau .widget-area .widget.buddypress #friends-list li,
.widget.buddypress #groups-list li {
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  padding: 0;
  flex: 1;
  min-width: 100%;
}

.widget.buddypress #friends-list li,
.widget.buddypress #members-list li {
  display: flex;
  align-items: center;
  padding: 3px 0;
  flex: 1;
  min-width: 100%;
}

.bp-nouveau .buddypress-wrap .buddypress.widget ul#friends-list li,
.bp-nouveau .buddypress-wrap .buddypress.widget ul#groups-list li,
.bp-nouveau .buddypress-wrap .buddypress.widget ul#members-list li {
  margin: 0 0 15px;
}

.bp-nouveau .buddypress.widget ul#friends-list li .item,
.bp-nouveau .buddypress.widget ul#groups-list li .item,
.bp-nouveau .buddypress.widget ul#members-list li .item {
  margin-right: 0;
}

.bp-nouveau .buddypress.widget ul#friends-list li .item-avatar,
.bp-nouveau .buddypress.widget ul#groups-list li .item-avatar,
.bp-nouveau .buddypress.widget ul#members-list li .item-avatar {
  padding: 0;
}

.bp-nouveau .widget-area .widget.buddypress div.item {
  padding: 0;
}

.buddypress.widget ul.item-list li .item-avatar {
  padding: 0;
  flex: 0 0 50px;
  margin-left: 15px;
  position: relative;
}

.buddypress-wrap .widget.buddypress .item-avatar a,
.widget.buddypress .item-avatar a {
  display: block;
}

.buddypress.widget ul.item-list li .item-avatar img.avatar {
  min-width: 50px;
}

.buddypress.widget ul.item-list li .item {
  padding: 0;
}

.more-block {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 0;
  display: block;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
}

.buddypress-wrap .buddypress.widget .avatar-block,
.buddypress.widget .avatar-block {
  margin: 0;
}

.buddypress.widget .activity-update .update-item p {
  margin: 0;
}

.buddypress.widget .activity-update {
  margin-bottom: 15px;
}

.buddypress.widget .activity-update:last-child {
  margin-bottom: 0;
}

ul.bb-sidebar-forums,
.widget.widget_display_topics > ul,
.widget.widget_display_replies > ul,
.widget.widget_display_views > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget.activity_update.bp-latest-activities span.time-since {
  display: block;
  font-size: 12px;
}

.buddypress.widget ul.item-list,
.widget-area .buddypress.widget ul.item-list {
  margin: 0;
}

.widget.widget_bp_follow_following_widget .widget-num-count,
.widget.widget_bp_follow_follower_widget .widget-num-count {
  border-bottom: 0;
  margin-right: 5px;
}

/* Profile Completion */
.profile_completion_wrap ul.pc_detailed_progress {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_progress_wrap {
  display: flex;
  flex-flow: column;
}

div.profile_completion_wrap .progress_text_wrap {
  margin-bottom: 5px;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_progress_wrap .progress_text_wrap {
  order: 2;
  text-align: right;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_progress_wrap .progress_text_wrap .progress_text {
  color: #a3a3a3;
  font-size: 12px;
}

div.profile_completion_wrap ul.pc_detailed_progress li.incomplete span.section_name a {
  color: inherit;
  text-decoration: none;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_progress_wrap .progress_container {
  order: 1;
  border: 0;
  background-color: #eef0f3;
  margin-bottom: 6px;
  border-radius: 10px;
  overflow: hidden;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_progress_wrap .progress_container .pc_progress {
  height: 6px;
  border-radius: 0 10px 10px 0;
  background-color: #05d786;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap {
  margin: 0;
  padding: 10px 0;
  position: relative;
  border-top: 1px solid #e7e9ec;
  margin-right: 30px;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap:first-child {
  border-top: 0;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap:before {
  content: '';
  border: 2px solid #d0d3d6;
  margin-right: -30px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap.completed:before {
  border: 2px solid #05d786;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap .section_number {
  display: none;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap .section_name {
  width: calc(100% - 55px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

div.profile_completion_wrap ul.pc_detailed_progress li span.completed_staus {
  color: #fff;
  border-radius: 8px;
  padding: 2px;
  float: left;
  width: 50px;
  text-align: center;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap .progress .completed_staus {
  background-color: transparent;
  border: 1px solid #ff0000;
  color: #ff0000;
  border-radius: 30px;
  width: 40px;
  font-size: 12px;
  font-weight: 600;
}

.widget.widget_bp_profile_completion_widget .profile_completion_wrap .pc_detailed_progress_wrap .single_section_wrap.completed .progress .completed_staus {
  border: 1px solid #05d786;
  color: #05d786;
}

/* Forums */
div.bbp-breadcrumb {
  float: none;
}

#bbpress-forums p.pag-data {
  margin: 15px 0;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  margin-right: 0;
}

#bbpress-forums .rg-replies > li > div {
  border: 1px solid #e3e3e3;
  margin: 0 0 20px;
  padding: 20px 20px 10px;
}
@media screen and (min-width: 600px) {
  #bbpress-forums .rg-replies > li > div {
    padding: 30px 30px 20px;
  }
}

.bbp-template-notice ul {
  margin-right: 0;
  padding: 0;
  list-style: none;
}

body.groups.reply-edit .bbp-reply-form {
  margin: 0;
}

#message_content.medium-editor-element {
  margin-bottom: 15px;
  padding: 15px;
  min-height: 130px;
  line-height: normal;
  border: 1px solid #e3e3e3;
  outline: none;
}

.bbp-the-content-wrapper .medium-editor-element {
  margin-bottom: 15px;
  padding: 15px;
  min-height: 130px;
  line-height: normal;
  border: 1px solid #e3e3e3;
  outline: none;
}

/* bbp-threaded-replies */
#bbpress-forums ul.bbp-threaded-replies {
  margin-right: 20px;
  padding: 20px 20px 10px;
  list-style: none;
  border: 1px solid #e3e3e3;
}
@media screen and (max-width: 480px) {
  #bbpress-forums ul.bbp-threaded-replies {
    margin-right: 0;
  }
}
#bbpress-forums ul.bbp-threaded-replies .type-reply {
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .bbp-replies span.bbp-admin-links {
    float: none;
  }
}
/*** Extra Plugins Support ***/
/* Buddypress Quote */
.quote-btn {
  margin-top: 10px;
  margin-right: 15px;
}

.bp-nouveau .bpquotes-bg-selection-div {
  margin-right: 15px;
  margin-left: 15px;
}

/* BuddyPress Polls */
.reign-polls.bp-nouveau .bpolls-html-container {
  margin-right: 15px;
  margin-bottom: 10px;
}

.reign-polls.bp-nouveau .bpolls-polls-option-html {
  width: calc(100% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

/* BuddyPress Checkin */
.bpchk-marker-container {
  margin-right: 15px;
  margin-bottom: 0;
}

.bp-checkins.bp-checkin-panel {
  width: calc(100% - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

/* BuddyPress Activity Social Share */
.service-buttons {
  padding: 10px 0 0;
}

.service-buttons a span {
  height: auto;
  line-height: 1.5;
}

/* BuddyPress Sticky Post */
.bpsp-pin-tool[data-bp-tooltip]:before {
  top: 0;
}

.bpsp-pin-tool[data-bp-tooltip]:after {
  top: -30px;
}

/* BuddyPress User To-Do */
.post-type-archive-bp-todo article.bp-todo {
  padding: 15px;
  padding-bottom: 15px !important;
}

.post-type-archive-bp-todo article.bp-todo .read-more {
  margin-top: 15px;
}

/* BuddyPress Group Review */
.bp-nouveau .bgr-row {
  box-shadow: none;
  border: 1px solid #e3e3e3;
}

.item-body .bgr-group-reviews-block {
  box-shadow: none;
}
.item-body .bgr-group-profiles {
  text-align: right;
  width: 50px;
}
.item-body .bgr-group-content {
  margin-right: 70px;
}
.item-body .review-ratings {
  margin-top: 20px;
}

.bp-nouveau .groups-header .moderators-lists {
  margin: 0 auto;
}

/* BuddyPress Hashtags */
body.activity-permalink.bp-nouveau .activity-list .activity-content .activity-header p {
  margin-right: 0;
}

/* BuddyPress Moderation Pro */
.bp-nouveau .activity-list .activity-item .activity-meta.action a.bmpro-flag-activity-btn {
  font-size: 13px !important;
  font-weight: 600 !important;
}
.bp-nouveau .activity-list .activity-item .activity-meta.action a.bmpro-flag-activity-btn[data-bp-tooltip]:before {
  content: none;
}
.bp-nouveau .activity-list .activity-item .activity-meta.action a.bmpro-flag-activity-btn[data-bp-tooltip]:after {
  content: none;
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .bmpro-flag-activity-btn:before {
  font-size: 0;
  content: '\e8ea' !important;
  font-family: 'bb-icons';
  opacity: 1;
  position: relative;
  background: none;
  display: inline-block;
  text-rendering: auto;
  font-size: 18px;
  min-width: 22px;
  min-height: 18px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/* BuddyPress Sticky Post */
.bp-nouveau .activity-list .activity-item .activity-meta.action div.generic-button .fa {
  font-size: 16px;
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .bpsp-pin-tool[data-bp-tooltip]:before {
  content: none;
}
.bp-nouveau .activity-list .activity-item .activity-meta.action .bpsp-pin-tool[data-bp-tooltip]:after {
  content: none;
}

.bp-nouveau .activity-list .activity-item .activity-meta.action .button span.pin-count {
  display: block;
}

/* Buddypress Activity Social Share */
.bp-nouveau #buddypress .activity-list .activity-item .activity-meta .bp-share-button {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 13px !important;
  font-weight: 600;
}
.bp-nouveau #buddypress .activity-list .activity-item .activity-meta .bp-share-button::before {
  font-weight: normal;
}

/*# sourceMappingURL=bb-platform-main.css.map */